{% extends 'base.html' %}

{% load static %}

{% block header %}
    <link rel="stylesheet" href="{% static 'css/saude.css' %}">
{% endblock %}


{% block main %}
    <p>
        A saúde e bem-estar têm impactos significativos em diversos aspectos da vida, 
        tanto individual quanto coletivamente. Entre os principais benefícios, podemos citar:
    </p>

    <p>
        Melhora na qualidade de vida: Quando cuidamos da nossa saúde e bem-estar, 
        podemos desfrutar de uma vida mais plena e saudável, com mais disposição 
        para as atividades diárias e menos riscos de desenvolver doenças.
    </p>
    
    <p>
        Aumento da produtividade: A saúde e bem-estar também estão relacionados à produtividade 
        no trabalho e nos estudos. Quando nos sentimos bem e saudáveis, temos mais energia e 
        disposição para realizar nossas tarefas de maneira eficiente.
    </p>  

    <p>
        Redução de custos com saúde: Investir na saúde e bem-estar pode parecer um custo a mais no curto prazo, 
        mas, a longo prazo, pode gerar economia significativa com a redução de gastos em tratamentos de doenças e internações.
    </p>   

    <p>
        Contribuição para a sociedade: Quando nos preocupamos com a nossa saúde e bem-estar, estamos contribuindo 
        para uma sociedade mais saudável e sustentável, já que indivíduos saudáveis tendem a ser mais engajados em ações coletivas e em projetos sociais.
    </p>
{% endblock %}